
<header>
   <div class="topnav">
      <a href>Logout</a>
      <a href>History</a>
      <a href>Guide</a>
      <a class="active" href="#home">Home</a>
   </div>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
   <form [formGroup]="myForm"  (ngSubmit)="submit(myForm.value)">
      <div class="form-container">
         <label class="title">Hall Data Form</label>
         <hr>
         
         <label for="" >Enter count of rows in the hall </label>
         <mat-form-field>
            <input matInput placeholder={{message}} formControlName="rowsCnt">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['rowsCnt'].valid && myForm.controls['rowsCnt'].touched">
            {{titleAlert}}
         </div>

         <label for="" >Enter count of columns in the hall </label>
         <mat-form-field>
            <input matInput placeholder={{message}} formControlName="colsCnt">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['colsCnt'].valid && myForm.controls['colsCnt'].touched">
            {{titleAlert}}
         </div>
         <br>
         <br>
         <br>

         <label class="chair" for="">Chair dimensions</label>
         <hr>

         <label for="" >Enter length of the chair</label>
         <mat-form-field>
            <input matInput placeholder={{message}} formControlName="lenChair">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['lenChair'].valid && myForm.controls['lenChair'].touched">
            {{titleAlert}}
         </div>

         <label for="" >Enter width of the chair</label>
         <mat-form-field>
            <input matInput placeholder={{message}} formControlName="widChair">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['widChair'].valid && myForm.controls['widChair'].touched">
            {{titleAlert}}
         </div>

         <label>Is there a bench infront of chairs?</label>
         <br>

         <mat-radio-group >
            <mat-radio-button (change)="register" #register value="1">Yes</mat-radio-button> 
            <br>
            <mat-radio-button value="2"> No</mat-radio-button>    
         </mat-radio-group>

         <div *ngIf="register.checked">
            <br>
            <label for="">please enter the width of bench</label>
            <mat-form-field>
               <input matInput placeholder="width of bench" formControlName="isBench">
            </mat-form-field>
            <div class="alert" *ngIf="!myForm.controls['isBench'].valid && myForm.controls['isBench'].touched">
               {{titleAlert}}
            </div>
         </div>

         <input type="submit" class="button expanded" value="Submit" [disabled]="!myForm.valid">

      </div> 
   </form>

