
<header>
   <div class="topnav">
      <a (click)="_authService.logOut()">Logout</a>
      <a href>History</a>
      <a href>Guide</a>
      <a class="active" href="#home">Home</a>
   </div>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
   <form [formGroup]="myForm"  (ngSubmit)="submit(myForm.value)">
      <div class="form-container">
         <label class="title">Hall Data Form</label>
         <hr>
         
         <label for="" >Enter count of rows in the hall </label>
         <mat-form-field>
            <input matInput placeholder={{message}} [(ngModel)]="rowsCnt" formControlName="rowsCnt">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['rowsCnt'].valid && myForm.controls['rowsCnt'].touched">
            {{titleAlert}}
         </div>

         <label for="" >Enter count of columns in the hall </label>
         <mat-form-field>
            <input matInput placeholder={{message}} formControlName="colsCnt">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['colsCnt'].valid && myForm.controls['colsCnt'].touched">
            {{titleAlert}}
         </div>
         <br>
         <br>
         <br>

         <label class="chair" for="">Chair dimensions</label>
         <hr>

         <label for="" >Enter length of the chair in the centimeters</label>
         <mat-form-field>
            <input matInput placeholder={{message}} formControlName="lenChair">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['lenChair'].valid && myForm.controls['lenChair'].touched">
            {{titleAlert}}
         </div>

         <label for="" >Enter width of the chair in the centimeters</label>
         <mat-form-field>
            <input matInput placeholder={{message}} formControlName="widChair">
         </mat-form-field>
         <div class="alert" *ngIf="!myForm.controls['widChair'].valid && myForm.controls['widChair'].touched">
            {{titleAlert}}
         </div>

         <label>Is there a bench infront of chairs?</label>
         <br>

         <mat-radio-group formControlName="benchRadio">
            <mat-radio-button (change)="check($event.value)" id="yesBench" #register value="1">Yes</mat-radio-button> 
            <br>
            <mat-radio-button (change)="check($event.value)" id="noBench" value="2"> No</mat-radio-button>    
         </mat-radio-group>

         <div *ngIf="register.checked">
            <br>
            <label for="">please enter the width of bench in the centimeters</label>
            <mat-form-field>
               <input matInput (keyup)="checkValue()" [(ngModel)]="widBench" placeholder="width of bench" formControlName="isBenchClicked">
            </mat-form-field>
            <div class="alert" *ngIf="!validBench && myForm.controls['isBenchClicked'].touched">
               {{titleAlert}}
            </div>
         </div>
         <br>
         <br>

         <label>Is there a gap between columns?</label>
         <br>

         <mat-radio-group formControlName="gapRadio">
            <mat-radio-button (change)="checkGap($event.value)" #gapExist value="1">Yes</mat-radio-button> 
            <br>
            <mat-radio-button (change)="checkGap($event.value)" value="2"> No</mat-radio-button>    
         </mat-radio-group>

         <div *ngIf="gapExist.checked">
            <br>
            <label for="">please enter the width of the gap in centimeters</label>
            <mat-form-field>
               <input matInput (keyup)="checkgapWid()" placeholder="width of gap" [(ngModel)]="gapWid" formControlName="isGapWidClicked">
            </mat-form-field>
            <div class="alert" *ngIf="!validGapWid&& myForm.controls['isGapWidClicked'].touched">
               {{titleAlert}}
            </div>
            <br>
            <label for="">please enter the number of gaps</label>
            <mat-form-field>
               <input matInput (keyup)="checkValueGap()" placeholder="number of gaps" [(ngModel)]="numGap" formControlName="isGapClicked">
            </mat-form-field>
            <div class="alert" *ngIf="!validGap&& myForm.controls['isGapClicked'].touched">
               {{titleAlert}}
            </div>
            <br>
            <label for="">please enter the number of columns separated by commas</label>
            <mat-form-field>
               <input matInput (keyup)="checkColsGap()" placeholder="eg:3,2,5 for rows =10 and gaps =2" [(ngModel)]="gapCols" formControlName="isGapColsClicked">
            </mat-form-field>
            <div class="alert" *ngIf="!validColsGap&& myForm.controls['isGapColsClicked'].touched">
               {{gapsAlert}}
            </div>   
         </div>  

         <input type="submit" class="button expanded" value="Submit" [disabled]="!myForm.valid||!validBench || !validGap || !validColsGap || !validGapWid">

      </div> 
   </form>

   <router-outlet></router-outlet>

