
<div class="container">
    <div class="split left">
        <!-- <img src="images/halls.png" alt="halls"> -->
        <form [formGroup]="rForm" (ngSubmit)="SignIn(rForm.value)">
        <h1 class="leftHeader">Sign In</h1>
        <input class="inputData email" type="text" name="email" placeholder="Enter your email" formControlName="email">
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
            {{titleAlert}}
        </div>
        <input class="inputData password" type="password" name="password" placeholder="Enter your Password" formControlName="password">
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
            {{titleAlert}}
        </div>
        <a href="#" class="forgetPass">Forgot Your Password?</a>
        <p> <span><input type="checkbox"></span>Remember me</p>
        <input type="submit" class="leftBtn" value="Sign In" [disabled]="!rForm.valid">
        <a routerLink="/signup" class="createAccount" onclick="reDirectSgnUp()">Create an account</a>
        </form>
    </div>
    <div class="split right">
        <h1 class="rightHeader">Welcome !</h1>
        <div class="About">
            <p>We are <span>H a l l s</span> and we believe we have to change
            a thing for the current </p><p>panadmeic covid-19,So we set our website to
            keep people safe by </p><p>guranteeing the social distance.</p>
            <p>Enter the image of you to <span>H a l l s </span> and we will distribute it
            Give it a try ;)</p> 
        </div>
        <a href="#" class="button">Try it!</a>
    </div>
  </div>
  <script src="./controlSplit.js"></script>
  <router-outlet></router-outlet>