
<div class="container">
    <div class="split left">
        <!-- <img src="images/halls.png" alt="halls"> -->
        <form [formGroup]="rForm" (ngSubmit)="SignIn(rForm.value)">
        <h1 class="leftHeader">Sign In</h1>
        <input class="inputData email" focus="focusInEmail($event)"type="text" name="email" placeholder="Enter your email" formControlName="email">
        <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
            {{titleAlert}}
        </div>
        <div class="alert invalidPassword" *ngIf="!isValidMail" >
            this email is invalid
        </div>
        
        <input (focus)="focusIn($event)" class="inputData password" type="password" name="password" placeholder="Enter your Password" formControlName="password">
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
            {{titleAlert}}
        </div>
        
        <div class="alert invalidPassword" *ngIf="!isValidPass" >
            this password is invalid
        </div>
        <a routerLink="/forgetpass" class="forgetPass">Forgot Your Password?</a>
        <!-- <p> <span><input id="rememberMe" type="checkbox"></span>Remember me</p> -->
        <input type="submit" class="leftBtn" value="Sign In" [disabled]="!rForm.valid">
        <a routerLink="/signup" class="createAccount">Create an account</a>
        </form>
    </div>
    <div class="split right">
        <h1 class="rightHeader">Welcome !</h1>
        <div class="About">
            <p>We are <span>H a l l s</span>,from our belief the smalls things matter in facing 
              the current pandemic COVID-19 disease,
              we set our website to help you be safe 
              by guaranteeing social distancing.
              Please insert your hall's data and we will distribute it for you,
              let's try it!</p> 
        </div>
        <!-- <a href="#" class="button">Try it!</a> -->
    </div>
  </div>
  <script src="./controlSplit.js"></script>
  <router-outlet></router-outlet>
