
    <div class="sign-up-form">
        <img src="../../assets/images/halls.png" alt="halls">
        <h1>Sign Up Now</h1>
        <form>
            <input type="email" class="input-box" placeholder="Your email">
            <input type="password" class="input-box password-box" placeholder="Your password">
            <input type="password" class="input-box password-box" placeholder="ReType your password">
            <p> <span><input type="checkbox"></span> agree to the terms of services</p>
            <button type="button" class="signUp-btn">Sign up</button>
            <hr>
                <p class="or">OR</p>
                <button type="button" class="logIn-btn">Log in with facebook</button>
                <p>Do you have an account? <a href="#" onclick="reDirecthome()">Sign In</a></p>
        </form>
    </div>
