
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <form [formGroup]="rForm" (ngSubmit)="Submit(rForm.value)">
      <div class="form-container">
        <div class="row columns">
          <img src="../../assets/images/halls.png" alt="halls">
          <h1>Forget Password</h1>

          <label >Email
            <input type="text" (focus)="focusIn($event)" placeholder="Enter your email" formControlName="email">
          </label>
  
          <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
              This field is required and it should be an email
          </div>
          <div class="alert invalidEmail" *ngIf="!isValidEmail" >
            This email is invalid
            </div>
          <p>Please Open your email to reset the password</p>

          <input type="submit" class="button expanded" value="Send Verificaton mail" [disabled]="!rForm.valid">

          <div class="alert mailSent" *ngIf="mailSent">
            the Verificaton mail has been sent to your inbox
          </div>
  
        </div>
      </div>
    </form>
  
  
